<html>
    <body>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Progress Bar">
            <h3>Progress Bar Examples</h3>
            <p>Determinate Progress Bar</p>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            
            <p>Indeterminate Progress Bar</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            
            <p>Query Progress Bar</p>
            <mat-progress-bar mode="query"></mat-progress-bar>
            
        </mat-tab>
        <mat-tab label="Stepper">
            <button class="enable" mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button>
              <mat-vertical-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fill out your name</ng-template>
                    <br><br>
                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your address</ng-template>
                    <br><br>
                    <mat-form-field>
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                             required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <br><br>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-vertical-stepper>

        </mat-tab>
        <mat-tab label="Slider">
            <h3>Slider Example Examples</h3>
            <p class ="slider">Without Label Formatting</p>
            <mat-slider aria-label="unit(s)"></mat-slider>
            <p class ="slider">With Label Formatting</p>
            <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="1000"
                step="10"
                min="0"
                max="1000"
                aria-label="units"></mat-slider>
        </mat-tab>
        <mat-tab label="Badge">
            <br><br>
            <p>
                <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
              </p>
              
              <p>
                  <span matBadge="1" matBadgeSize="large">Text with large badge</span>
              </p>
              
              <p>
                Button with a badge on the left
                <button mat-raised-button color="primary"
                    matBadge="8" matBadgePosition="before" matBadgeColor="accent">
                  Action
                </button>
              </p>
              
              <p>
                  Button toggles badge visibility
                  <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
                      Hide
                  </button>
              </p>
              
              <p>
                Icon with a badge
                <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
                  <!-- Include text description of the icon's meaning for screen-readers -->
                  <span class="cdk-visually-hidden">
                    Example with a home icon with overlaid badge showing the number 15
                  </span>
              </p>
              
        </mat-tab>
  </mat-tab-group>
</body>
</html>
  