

.mat-tab-group {
    margin-bottom: 48px;
  }

  h3{
    margin-top: 50px; 
    margin-bottom: 100px;
    text-align: center;
  }

  p{
      text-align: center;
      margin-bottom: 50px;
  }

  .mat-progress-bar{
      width: 80%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
  }


.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

input{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-left: 40px;
  }

  button{
      background-color:white;
      padding: 12px;
      border: 1px solid white;
      border-radius: 4px;
      margin: 12px;
  }

  button:hover{
      background-color: #ccc;
  }
  
  .enable{
      margin-top: 20px;
      margin-left: 20px;
  }

  mat-slider {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: darkslateblue;
  }

  
